body {
  color: white;
}

table,
td {
  border: 1px solid black;
}

h1,
h3 {
  text-align: center;
}

body {
  background-color: rgb(134, 173, 165);
}

h1 {
  color: darkred;
}

h2 {
  color: chartreuse;
}

h3 {
  color: blanchedalmond;
}

img {
  width: 80vw;
  height: auto;
  position: relative;
  left: calc(50% - 40vw);
}

ol>b>li {
  color: deeppink;
}

ol>li {
  color: gold;
  font-weight: 600;
}

p {
  color: rebeccapurple;
}